  <div class = "container background-white-clear">
    <h2>カテゴリ検索</h2>
    <%= form_tag posts_path, class: 'boards__searchForm' do %>
      <% @tags.each do |tag| %>
        <div class="row tag-box mt-3">
          <%= link_to tag.name, posts_path(name: tag.id) %>
        </div>
      <% end %>
        <div class="row tag-box my-3">
          <%= link_to "全ての投稿", posts_path %>
        </div>
    <% end %>
  </div>