div class = "container">
  <div class = "row long-photo">
    <%= image_tag 'default-image.jpg', class:'long-photo' %>
  </div>
  <div class = "row">
    <%= render "public/users/current_user_info" %>
    <div class = "col d-flex flex-wrap">
      
  </div>
