<div class = "container-fluid background">
  <p class = "row notice" id="notice"><%= notice %></p>
  <%= render "layouts/error", obj: @post %>
  <%= render "index", posts: @posts, tags: @tags %>
</div>
