<div class = "row my-5 text-center justify-content-center">
  <div class = "col-sm-1 col-md-12">
    <%= form_with(model:[post, comment], local: false) do |f| %>
      <%= f.text_area :comment, size: "40x2" %>
      <%= f.submit 'コメント送信', class: "btn-sm btn-primary" %>
    <% end %>
  </div>
</div>