@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.background-white {
background-color: white;
}

.btn-delete {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  font-size: 15px;
  color: #FFFFDD;
  background-color: red;
}
.btn-edit {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  font-size: 40px;
  color: #FFFFDD;
  background-color: #00F9A9;
}

.btn-favorite {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 35px;
  font-size: 15px;
  color: #FFFFDD;
  background-color: #ffb6c1;
}

.btn-follow {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 35px;
  font-size: 15px;
  color: #FFFFDD;
  background-color: #1e90ff;
}

.btn-sign-up {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  font-size: 40px;
  color: #FFFFDD;
  background-color: #00F9A9;
}

.btn-log-in {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  font-size: 40px;
  color: #FFFFDD;
  background-color: #005FFF;
}

.btn-new-post {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 35px;
  font-size: 15px;
  color: #FFFFDD;
  background-color: #ffd700;
}

.btn-post {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 35px;
  font-size: 15px;
  color: #FFFFDD;
  background-color: #00bfff;
}

.btn-profile-edit {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 35px;
  font-size: 15px;
  color: #FFFFDD;
  background-color: #00fa9a;
}

.btn-seach {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 35px;
  font-size: 15px;
  color: #FFFFDD;
  background-color: #8b4513;
}

body {
  background-color: #fafad2;
}

.d-flex {
  display: inline-flex;
  padding: 10px;

}

.favorite_icon {
  font-size: 40px;
}

footer {
  background-color: #00008b;
}
.post-image-text {
  width: 300px;
  height: 400px;
  margin: 30px;
  background-color: skyblue;
}

.post-image {
  width: 400px;
  height: 500px;
}

.post-image-index {
  width: 240px;
  height: 300px;
}

.container{
  font-family: "Comic Sans MS";
}



.long-photo {
  width: 1500px;
  height: 150px;
}

.navbar {
  height: 100px;
  color: #FFFFDD;
  background-color: #00BFFF;
}

.navbar-brand {
  font-size: 50px;
  font-family: "Comic Sans MS";
}

.navbar-nav {
  font-size: 30px;
  font-family: "Comic Sans MS";
  margin: 30px 0;
}

.profile {
  margin: 0px 0px 0px 50px;

}

.profile-image {
  width: 400px;
  height: 400px;
  border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
}

.profile-image-admin {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile-image-comment {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-image-info {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.unsubscribe-text {
  font-size: 20px;
}

.user-info {
  height: 600px;
  background-color: white;
}

.user-name {
  font-size: 30px;
}

.log_out_comfirm {
  margin: 100px auto 300px;
}

.red-font {
  color: red;
}

.btn {
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px ;
  border: dashed 1px #FFF;
}

.btn:hover {
  border: dotted 1px #FFF;
}