// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar {
  height: 100px;
  color: #FFFFDD;
  background-image: image-url("back4.jpg");
  background-size: cover;
  background-position: center;
}

.navbar-nav {
  background-image: image-url("back2.jpg");
  background-size: cover;
  background-position: center;
}

.navbar-collapse {
  z-index: 9999;
}

footer {
  height: 100px;
  color: #FFFFDD;
  background-image: image-url("back2.jpg");
  background-size: cover;
  background-position: center;
}