<div class = "container log_out_comfirm">
  <div class = "row">
    <h3>ログアウトしますか？</h3>
  </div>
  <div class = "row mt-5">
    <div class = "col mb-5 justify-content-center ">
     <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-delete" do %>
      <i class="fas fa-sign-out-alt"></i>Log out
    <% end %>
    </div>
  <div>
</div>

